@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    width: 100vw;
    height: 698px;
    background-image: url(Assets/Hero-bg.png);
}

nav {
    font-family: "Inter", sans-serif;
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

nav .logo {
    font-size: 34px;
    font-weight: 900;
    color: green;
}

nav .logo_color {
    color: #4E47FF;
}

.sign-button {
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.hero-highlight {
    width: 900px;
    height: 235px;
    margin: 155px auto 150px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;

}

.hero-highlight h1 {
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-weight: 700;
}

.hero-container .hero-button {
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.fst-container {
    width: 1140px;
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px auto;
}

.image img {
    border-radius: 48px;

}

.fst-info {
    font-family: "Raleway", sans-serif;
    width: 515px;
}

.fst-info h3 {
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

.fst-info p {
    font-size: 24px;
    font-weight: 400;
    color: #2524328f;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fst-info button {
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.scnd-container {
    width: 1140px;
    height: 306px;
    margin: 116px auto 137px auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding: 50px 142px;
    background-color: #4d47ff31;
    border-radius: 24px;
}

.scnd-container .high-text {
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
    color: #252432;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    font-family: "Inter", sans-serif;
    text-align: start;
}

.info-big-text {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4E47FF;
}

.info-small-text {
    text-transform: capitalize;
    font-size: 20px;
    color: #0000007c;
}

.trd-container {
    width: 1140px;
    margin: 137px auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.trd-container .trd-highlight {
    font-size: 49px;
    font-weight: 700;
    color: #252432;

}

.reviews-container {
    display: flex;
    margin-top: 50px;
    text-align: start;
    align-items: center;
    justify-content: space-between;

}

.user-reviews {
    width: 365px;
    padding: 24px;
    font-family: "Inter", sans-serif;
}

.reviews {
    margin-top: 24px;
}

.user-reviews .reviews h3 {
    margin-bottom: 8px;
}

.user-reviews .reviews p {
    line-height: 1.3;
}

.customar-name {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 24px 0;
}

.customar-name img {
    border-radius: 50%;
}

.customar-name .customar p {
    font-weight: 700;
    color: #0000007c;

}

.customar-name .customar span {
    color: #00000056;
}

.four-container {
    max-width: 1140px;
    height: 695px;
    padding: 71px 150px;
    margin: 137px auto 92px auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.four-container h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.four-container p {
    color: #0000006e;
    margin-bottom: 20px;
}

.four-container button {
    border: none;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding: 12px 36px;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.four-container img {
    border-radius: 48px;
}

.fifth-container {
    max-width: 1140px;
    height: 632px;
    margin: 92px auto 14px auto;
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 0;
}

.fifth-container h1 {
    font-size: 97px;
    width: 528px;

}

.fifth-container form {
    width: 497px;
    font-family: "Inter", sans-serif;
}

.fifth-container form label {
    font-size: 18px;
    font-weight: 500;

}

.fifth-container form input {
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 19px;
    font-size: 16px;
}

.fifth-container form input::placeholder {
    font-size: 20px;
    color: rgba(0, 0, 0 0.5);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: start;
}

textarea {
    margin-top: 10px;
    margin-bottom: 19px;
    width: 497px;
    height: 135px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    padding: 20px 32px;
    font-size: 16px;
}
textarea::placeholder {
     font-size: 20px;
    color: rgba(0, 0, 0 0.5);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: start; 
}

.fifth-container form button {
    width: 100%;
    border: none;
    padding: 19px 101px;
    background-color: #4E47FF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white; 
}
footer {
    width: 100vw;
    /* height: 428px; */
    text-align: center;
    margin-top: 14px;
    font-family: "Inter", sans-serif;
}
.footer-info .footer-logo {
font-size: 100px;
font-weight: 900;
color: green;
margin-bottom: 8px;
}
.footer-logo_color {
    color: #4E47FF;
}
.footer-info {
    margin: 103px auto;
    width: 530px;
}
.footer-info p {
    color: #8987A1;
    margin-bottom: 20px;
}
.footer-info ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-info ul li a {
    text-decoration: none;
    color: #8987A1;
}